<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FirstBackend</title>
</head>

<body>
    <h3>This page is going to be rendered by the back end!</h3>

    <%=locals.text || "Default" %>
</body>

</html>
